* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: 100%;
  background-color: #666;
}

form {
  background-color: #eee;
  padding: 0 60px;
  border-radius: 15px;
  padding: 30px 40px;
}

h1 {
  color: rgb(83, 6, 83);
  text-align: center;
}
